<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Borrow My Products </title>
    <link type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/all.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/css/style1.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{home}">
            <img style="height:50px; width:150px" th:src="@{/images/logo.jpeg}" alt="logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/mainPage}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="services-bar">
        <h1 class="my-4">Available Products</h1>
        <!-- Services Section -->
        <div class="row">
            <div class="col-lg-4 mb-4" th:each="product : ${products}">
                <div class="card h-100">
                    <h4 class="card-header" th:text="${product.productName}"></h4>
                    <div class="card-img">
                        <img class="img-fluid" th:src="@{${product.image}}" alt=""/>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${product.productDescription}"></p>
                        <p class="card-text" th:text="${product.productCost}"></p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/requested/{category}/{id}(category=${product.category.categoryName},id=${product.productId})}"
                           class="btn btn-primary">Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<hr>
</div>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>