<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Borrow My Products </title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{home}">
            <img style="height:50px; width:150px" th:src="@{images/logo.jpeg}" alt="logo"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mainPage}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" href="#myModal1">AddProduct</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container services-bar">
    <div class="row">
        <div class="col-lg-4 mb-4" th:each="product : ${products}">
            <div class="card h-100">
                <h4 class="card-header" th:text="${product.productName}"></h4>
                <div class="card-img">
                    <img class="img-fluid" th:src="@{${product.image}}" alt=""/>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${product.productDescription}"></p>
                    <p class="card-text" th:text="${product.productCost}"></p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/seeRequests/{id}(id=${product.productId})}" class="btn btn-primary">SeeRequest</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Product Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-12 pl-3 py-5 border" style="background:white">
                            <form action="#" th:action="@{/addProduct}" th:object="${product}" method="post">
                                <div class="form-row">
                                    <div class="inputBox col-md-12">
                                        <input id="productName" th:field="${product.productName}" name="productName"
                                               class="form-control" type="text" required>
                                        <label>Product Name<span class="required"> *</span></label>
                                    </div>
                                    <div class="inputBox col-md-12">
                                        <input id="productCost" th:field="${product.productCost}" name="productCost"
                                               class="form-control" type="text" required>
                                        <label>Product Cost<span class="required"> *</span></label>
                                    </div>
                                    <div class="inputBox col-md-12">
                                        <input id="productDescription" th:field="${product.productDescription}"
                                               name="productDescription" class="form-control" type="text" required>
                                        <label>Product Description<span class="required"> *</span></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Select image</label>
                                        <input type="file" th:field="${product.image}" name="image"
                                               class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                    <div class="dropdown">
                                        <select id="country" name="country" th:field="${category.categoryName}">
                                            <option value="Electronic Devices">Electronic Devices</option>
                                            <option value="Home Appliances">Home Appliances</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-8">
                                        <input type="checkbox" id="location" onclick="getLocation()"> Allow location
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="inputBox col-md-4">
                                        <input id="latitude" th:field="${location.latitude}" name="latitude" type="text"
                                               hidden>
                                    </div>
                                    <div class="inputBox col-md-4">
                                        <input id="longitude" th:field="${location.longitude}" name="longitude"
                                               type="text" hidden>
                                    </div>
                                </div>
                                <div class="form-row" style="padding-left:40%">
                                    <input type="submit" id="reg_btn" value="SUBMIT" class="btn btn-success">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>