.inputBox input {
            width: 100%;
            padding: 15px 0 0 0;
            font-size: 16px;
            color: black;
            letter-spacing: 1;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            background: transparent;
        }
        .inputBox label {
            position: absolute;
            top: 0;
            left: 10px;
            padding: 10px 0;
            font-size: 16px;
            color: black;
            pointer-events: none;
            transition: .5s;
        }
        .inputBox input:focus ~ label,
        .inputBox input:valid ~ label
        {
            top:-12px;
            left:4px;
            font-size: 14px;
            color: dodgerblue;
        }
        .required {
            color:red;
        }